<DOCTYPE html>
<head>
	<!-- import google icon fonts-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="styles">
	<!-- hojas de estilo de material-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

	<!-- Let browser know website is optimezed for movile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<!-- barra de navegacion -->
	  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
        	
	


	<!-- Java script at the end of the body for optimized loading -->
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>

